<header>

    <a [routerLink]="['/']">
        <img src="/assets/Logo.png" alt="Movie World" />
    </a>

    <div class="navigation">

        <form class="search-form">

            <input class="search-bar" placeholder="Film suchen" [formControl]="sbar" autofocus />

            <div *ngIf="predictions && predictions.length > 0" class="prediction-list">
                <div (click)="click(result)" *ngFor="let result of predictions" class="prediction-item">
                    <span class="prediction-item-title">{{result.title}}</span>
                    <span class="prediction-item-date">{{result.release_date}}</span>
                </div>
            </div>

        </form>

        <a [routerLink]="['/hot']" class="button">
            <i class="material-icons">whatshot</i>
            <span>Beliebteste</span>
        </a>

        <a [routerLink]="['/best']" class="button">
            <i class="material-icons">star</i>
            <span>Bestbewertet</span>
        </a>

        <a [routerLink]="['/favorites']" class="button">
            <i class="material-icons">favorite</i>
            <span>Favoriten</span>
        </a>

        <a [routerLink]="['/discover']" class="button">
            <i class="material-icons">explore</i>
            <span>Discover</span>
        </a>

    </div>

</header>
