<header>

    <a [routerLink]="['/']">
        <img src="assets/Logo.png" alt="Movie World">
    </a>

    <div class="headerbuttons">
        <form class="searchform">
            <input #searchbar
                   class="searchbar"
                   placeholder="Film suchen"
                   [formControl]="sbar"
                   autofocus/>
        </form>

        <a [routerLink]="['/hottest']" class="button">
            <i class="material-icons">whatshot</i>
            <span>Beliebteste</span>
        </a>

        <a [routerLink]="['/intheater']" class="button">
            <i class="material-icons">star</i>
            <span>Im Kino</span>
        </a>

        <a [routerLink]="['/favorites']" class="button">
            <i class="material-icons">star</i>
            <span>Favoriten</span>
        </a>
    </div>

</header>
